body {
  background-color: black;
  color: white;
  margin: 0;
}

button {
  background-color: black;
  color: white;
  width: 110px;
  height:40px;
}

fieldset > button {
  width: 90px;
  height:35px;
}

fieldset[disabled] > button {
  background-color: #666;
  color: #333;
}

#startSimulation {
  background-color: #55d;
}

#resetSimulation,
.delete {
  background-color: #d55;
}

#game {
  background-color: #888;
}

.hide {
  display: none;
}

#targetDummyManager {
  overflow-y: scroll;
  max-height: 400px;
}

.rowExplanation {
  font-style: italic;
  color: #999;
}

#container {
  display: grid;
  grid-template-columns: 100% auto;
  background-color: #999;
  padding: 2px;
}
#container > div {
  background-color: #222;
  border: 1px solid black;
  padding: 2px;
  font-size: 30px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-areas:
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: #222;
  padding: 3px;
}
.container > div {
  background-color: #444;
  padding: 5px;
}

.container > div.menu {
  grid-area: menu;
}

.container > div.content {
  grid-area: content;
  height:800px;
}

.container > div.footer {
  grid-area: footer;
}

label,
input,
select,
textarea {
  display: block;
  width: 150px;
  float: left;
  margin-bottom: 1em;
}

select {
  width: 150px;
}

label {
  text-align: right;
  width: 100px;
  padding-right: 2em;
}

.clear {
  clear: both;
}

canvas, img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    align-items: center;
    margin: 0 auto;
    height: inherit;
}